body, html {
  height: 100%;
}


.nav-link {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: inline-block;
  font-size: 1.8rem;
}
.navbar-brand {
  font-weight: bolder;
  
}

.form {
  
  justify-content: space-between;

}


